@font-face {
  font-family: 'silhouette';
  src: url("./assets/silhouette.ttf") format('truetype');
}

body {
  font-family: silhouette, sans-serif;
  background-color: #161618;
  display: flex;
  height: fit-content;
  margin: 0 auto;
}
