.linksContainer {
    position: relative;
    display: grid;
    overflow: hidden;
    justify-content: center;
    height: fit-content;
    width: 100vw;
    font-size: clamp(2rem, 4rem, 6vw);
    text-decoration: underline;
    color: black;
    margin: 0 auto;
}

.linksList {
    position: relative;
    list-style-type: none;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -1em;
    cursor: pointer;
    transform: scale(1.00);
    transition: 150ms ease-out;
}

ul li:hover {
    transform: scale(1.05);
    transition: 150ms ease-in;
}

img {
    height: clamp(25px, 50px, 100px);
    width: clamp(25px, 50px, 100px);
    cursor: pointer;
    font-size: x-large;
    padding: clamp(20px, 30px, 40px);
    margin-left: -1em;
}

a {
    color: white;
    margin: 0;
}

.socials {
    display: flex;
    justify-content: center;
    z-index: 2;
    margin-bottom: 15vh;
}
