.linksContainer {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    height: fit-content;
    width: 100vw;
    font-size: clamp(2rem, 3.5rem, 6vw);
    text-decoration: underline;
    text-align: center;
    color: black;
    margin: 0 auto;
}

.linksList {
    margin-top: 10vh;
    padding: 10px;
    list-style-type: none;
    cursor: pointer;
    transform: scale(1.00);
    transition: 150ms ease-out;
}

ul li:hover {
    transform: scale(1.05);
    transition: 150ms ease-in;
}

img {
    height: 175px;
    width: 175px;
    cursor: pointer;
    font-size: x-large;
}

a {
    color: white;
}

.socials {
    display: flex;
    justify-content: space-evenly;
    z-index: 2;
}
