body {
    height: fit-content;
    background-color: #161618;
}

.hoverTip {
    text-align: center;
    color: white;
    font-size: xxx-large;
}

.bandCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: fit-content;
    width: 100vw;
}

.backgroundImg {
    position: absolute;
    width: inherit;
    height: inherit;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    transition: 100ms ease-out;
}

.backgroundImg:hover {
    filter: blur(10px);
    transition: 100ms ease-in;
}

.bio {
    pointer-events: none;
    margin: 150px 10px 10px;
    position: relative;
    font-size: 150%;
    color: white;
    opacity: 0;
    text-shadow: 3px 5px 5px black;
    transition: 250ms ease-in;
}

.fadeIn {
    opacity: 100%;
}

.colinCard {
    width: 480px;
    height: 720px;
    position: relative;
    margin: 12px;
}

.jackCard {
    width: 480px;
    height: 720px;
    position: relative;
    margin: 12px;
}

.noahCard {
    width: 480px;
    height: 720px;
    position: relative;
    margin: 12px;
}

.simonCard {
    width: 480px;
    height: 720px;
    position: relative;
    margin: 12px;
}

.henryCard {
    width: 480px;
    height: 720px;
    position: relative;
    margin: 12px;
}

.socials {
    flex-direction: row;
    width: fit-content;
    position: relative;
    opacity: 0;
    transition: 250ms ease-in;
}

.fadeIn {
    opacity: 100%;
}

img {
    width: 75px;
    height: 75px;
    margin: 25px;
    cursor: pointer;
}

br {
    height: 5px;
    color: white;
}
